-----BEGIN CERTIFICATE-----
MIIEfzCCAuegAwIBAgIQKHC3rcfynqrPTxvG9WOcijANBgkqhkiG9w0BAQsFADCB
mzEeMBwGA1UEChMVbWtjZXJ0IGRldmVsb3BtZW50IENBMTgwNgYDVQQLDC9MQVBU
T1AtRVBVNzFGRktcdGtyYW1ATEFQVE9QLUVQVTcxRkZLICjjhaQwMTAwKTE/MD0G
A1UEAww2bWtjZXJ0IExBUFRPUC1FUFU3MUZGS1x0a3JhbUBMQVBUT1AtRVBVNzFG
RksgKOOFpDAxMDApMB4XDTI1MTAwOTE4MzYyMFoXDTI4MDEwOTE4MzYyMFowYzEn
MCUGA1UEChMebWtjZXJ0IGRldmVsb3BtZW50IGNlcnRpZmljYXRlMTgwNgYDVQQL
DC9MQVBUT1AtRVBVNzFGRktcdGtyYW1ATEFQVE9QLUVQVTcxRkZLICjjhaQwMTAw
KTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK3QJ7f9U1k+FKtNUBsC
9HPpYG9reLXMeOunwgAqhHbIZgrrCgW8lqhz9OTVa9q2DehrYLGLZ9WLZvlYuk+w
E+eey4ldc0XmQWmL7GgjPuZ+SHlFtE9YaX7uEauC7CkzWf7mMMMC8f74QGH72c38
+Xxns0VnuowDO7vNBkFKpaff4l3JnUTLdtuBMIy8stCkQBKAjn/ozQWMt0DexB1l
wA1Jty7TnKENdXCk/brL9CkbJth+J41ChIaG4nXSfeUjvCbGK+tTr+Z1q43HmE3p
HkXHaBTXrZQa62Yt6HQkmoaEhcteVS5EdZL0FOSWPzFuSxMk/yRWDc9Pjk3Wh+ie
ErsCAwEAAaN2MHQwDgYDVR0PAQH/BAQDAgWgMBMGA1UdJQQMMAoGCCsGAQUFBwMB
MB8GA1UdIwQYMBaAFL7X40xtCxBOQt0ENjKLqUSJGUphMCwGA1UdEQQlMCOCCWxv
Y2FsaG9zdIcEfwAAAYcQAAAAAAAAAAAAAAAAAAAAATANBgkqhkiG9w0BAQsFAAOC
AYEAJLtHZWeWYmMRnObxzP2AyVsdsY0QnCBjCN9+BSG1TOYLc/SvC8MWI/MVSDGn
w/OhM0A9Tid8Cb3CkSafSua81j0/KaQ+V250g+U2vqLBPvPggzHsSf4V+diGkuaE
YxOO1402/r/Nfd9Na84hakrCKg61+Qct+JzrL+FZ1lp9NkZNa5l9K9HqL9mO5rYM
bhgpm8goI7P3NKVRhyHMr0eDQFCqxH/zE1ZgXhNWe/FUjcbdNOrFwR/iErxTQ60K
+WFknFApUgw9FxTkitgalWOUjqGFFLzs1wCcD7o+eFvwDmi6MPW7OxSRrzFPaYcG
MdH6pMVtPPunc5BtcwGY4WPY90q9fRkZrZu2X+0Lb2O4C9UeYsEEYx3HhvoW9kAo
SBb4euGonTaVUHnzkXFuNoDtkme2cuyQrnHK4H4u41RGbUq41NOzrie3WaezOOeg
WIXHgxcIEJfPcIAgH3Ruu7LaHxcBd34mk7E8HTx4Wst7+eRKQ8fwP3xl3RMA+iSy
8mw/
-----END CERTIFICATE-----
