# Environment Configuration
NODE_ENV=development
PORT=3001

# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://tkramongalo_db_user:qlSmfqc8pB0mzs4r@secure-payments-cluster.vwe2l7u.mongodb.net/?retryWrites=true&w=majority&appName=secure-payments-cluster
MONGODB_URI_TEST=mongodb+srv://tkramongalo_db_user:qlSmfqc8pB0mzs4r@secure-payments-cluster.vwe2l7u.mongodb.net/?retryWrites=true&w=majority&appName=secure-payments-cluster

# JWT Configuration
JWT_SECRET=60278921f60b624436619b90a23e2f94f7c784b8fd3cebafc201cc06a33bc451
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Session Configuration
SESSION_SECRET=67f83b5a0ec557f1787a8050c793348af87897b96b9af486840317c26e867229

# Argon2 Configuration
ARGON2_MEMORY_COST=524288
ARGON2_TIME_COST=2
ARGON2_PARALLELISM=1

# Security Configuration
BCRYPT_ROUNDS=12
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

ENABLE_HTTPS=true
HTTPS_KEY_PATH=./localhost+2-key.pem
HTTPS_CERT_PATH=./localhost+2.pem

# Certificate Pinning (for production)
# Get your certificate's SHA256 hash and set it here
# CERT_PIN_SHA256=your-certificate-sha256-hash-here

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Logging
LOG_LEVEL=info
LOG_FILE=./logs/app.log

#Currency API
FREECURRENCY_API=fca_live_EUHfSr44kC3PaUp4o4QQJncegsMbGWPb90ZBWPmL

